{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "97a8a5043ed09d15",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:51:47.091975Z",
     "start_time": "2025-11-12T11:51:45.555719Z"
    }
   },
   "outputs": [],
   "source": [
    "import geopandas as gpd\n",
    "import duckdb\n",
    "from shapely import from_wkb"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "cbc7543935618c6f",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:59:25.992787Z",
     "start_time": "2025-11-12T11:59:25.760792Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<_duckdb.DuckDBPyConnection at 0x7f40dcd6c8f0>"
      ]
     },
     "execution_count": 23,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# Oppretter DuckDB-tilkobling og konfigurerer Azure-tilgang\n",
    "# Vi bruker offentlig tilgang med kun ACCOUNT_NAME (ingen connection string nødvendig)\n",
    "\n",
    "con = duckdb.connect(\":memory:\")\n",
    "con.execute(\"INSTALL spatial; LOAD spatial;\")\n",
    "con.execute(\"INSTALL azure; LOAD azure;\")\n",
    "\n",
    "# Oppretter Azure secret med kun kontonavn for offentlig tilgang\n",
    "con.execute(\"\"\"\n",
    "CREATE SECRET secret (\n",
    "    TYPE azure,\n",
    "    PROVIDER config,\n",
    "    ACCOUNT_NAME 'doppablobstorage'\n",
    ");\n",
    "\"\"\")\n",
    "\n",
    "# Setter curl som transport for Azure-forespørsler\n",
    "con.execute(\"SET azure_transport_option_type = curl\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "id": "426a82f7942b527",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T12:02:42.183986Z",
     "start_time": "2025-11-12T12:02:42.180540Z"
    }
   },
   "outputs": [],
   "source": [
    "release_1 = \"az://raw/release/2025-10-27.19/dataset=osm/theme=buildings/region=*/*.parquet\"\n",
    "release_2 = \"az://raw/release/2025-11-12.0/dataset=osm/theme=buildings/region=*/*.parquet\""
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "id": "dad9d14c746a7ac5",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T12:02:43.890525Z",
     "start_time": "2025-11-12T12:02:43.016622Z"
    }
   },
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Number of rows release 1: 4163561\n",
      "Number of rows release 2: 4163473\n"
     ]
    }
   ],
   "source": [
    "count_release_1 = con.execute(f\"SELECT count(*) AS count FROM '{release_1}'\").fetchone()[0]\n",
    "count_release_2 = con.execute(f\"SELECT count(*) AS count FROM '{release_2}'\").fetchone()[0]\n",
    "print(\"Number of rows release 1:\", count_release_1)\n",
    "print(\"Number of rows release 2:\", count_release_2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "27bbbf5406ea2735",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:53:34.675439Z",
     "start_time": "2025-11-12T11:51:55.395880Z"
    }
   },
   "outputs": [
    {
     "data": {
      "application/vnd.jupyter.widget-view+json": {
       "model_id": "b19a4f3e43c545ac9035069e8c3b445e",
       "version_major": 2,
       "version_minor": 0
      },
      "text/plain": [
       "FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "query = f\"\"\"\n",
    "WITH old AS (\n",
    "    SELECT id, md5(ST_AsWKB(ST_Normalize(geometry))) AS geom_hash\n",
    "    FROM read_parquet('{release_1}')\n",
    "),\n",
    "new AS (\n",
    "    SELECT id, md5(ST_AsWKB(ST_Normalize(geometry))) AS geom_hash\n",
    "    FROM read_parquet('{release_2}')\n",
    ")\n",
    "SELECT\n",
    "    COALESCE(n.id, o.id) AS id,\n",
    "    n.id AS new_id,\n",
    "    o.id AS old_id\n",
    "FROM new n\n",
    "FULL OUTER JOIN old o ON n.id = o.id\n",
    "WHERE n.geom_hash IS DISTINCT FROM o.geom_hash;\n",
    "\"\"\"\n",
    "\n",
    "df = con.execute(query).df()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "69c64c3fa968d39d",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:26.443758Z",
     "start_time": "2025-11-12T11:53:34.879341Z"
    }
   },
   "outputs": [
    {
     "data": {
      "application/vnd.jupyter.widget-view+json": {
       "model_id": "954272361c424bceb0fe70055901fb1c",
       "version_major": 2,
       "version_minor": 0
      },
      "text/plain": [
       "FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "query = f\"\"\"\n",
    "WITH old AS (\n",
    "    SELECT id, ST_Normalize(geometry) AS geom\n",
    "    FROM read_parquet('{release_1}')\n",
    "),\n",
    "new AS (\n",
    "    SELECT id, ST_Normalize(geometry) AS geom\n",
    "    FROM read_parquet('{release_2}')\n",
    ")\n",
    "SELECT\n",
    "    COALESCE(n.id, o.id) AS id,\n",
    "    n.id AS new_id,\n",
    "    o.id AS old_id\n",
    "FROM new n\n",
    "FULL OUTER JOIN old o ON n.id = o.id\n",
    "WHERE NOT ST_Equals(n.geom, o.geom);\n",
    "\"\"\"\n",
    "\n",
    "df = con.execute(query).df()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "a108df2ea2498468",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:26.680588Z",
     "start_time": "2025-11-12T11:54:26.646307Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>new_id</th>\n",
       "      <th>old_id</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>104875574</td>\n",
       "      <td>104875574</td>\n",
       "      <td>104875574</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>179263722</td>\n",
       "      <td>179263722</td>\n",
       "      <td>179263722</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>251003450</td>\n",
       "      <td>251003450</td>\n",
       "      <td>251003450</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>301843694</td>\n",
       "      <td>301843694</td>\n",
       "      <td>301843694</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>301905936</td>\n",
       "      <td>301905936</td>\n",
       "      <td>301905936</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "          id     new_id     old_id\n",
       "0  104875574  104875574  104875574\n",
       "1  179263722  179263722  179263722\n",
       "2  251003450  251003450  251003450\n",
       "3  301843694  301843694  301843694\n",
       "4  301905936  301905936  301905936"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "972039ed640f6429",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:27.294813Z",
     "start_time": "2025-11-12T11:54:27.270363Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/plain": [
       "(94, 3)"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.shape"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "5759d754b7c1ec16",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:27.503926Z",
     "start_time": "2025-11-12T11:54:27.489023Z"
    }
   },
   "outputs": [],
   "source": [
    "changed_ids = df[\"id\"].to_numpy()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "a579c6331fce28aa",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:29.120452Z",
     "start_time": "2025-11-12T11:54:27.844028Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>geometry</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>20711907</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>20712057</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 4, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>39748960</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>52715334</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>58567004</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         id                                           geometry\n",
       "0  20711907  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...\n",
       "1  20712057  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 4, ...\n",
       "2  39748960  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...\n",
       "3  52715334  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...\n",
       "4  58567004  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ..."
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "query = f\"\"\"\n",
    "SELECT\n",
    "   id, ST_AsWKB(geometry) AS geometry\n",
    "FROM '{release_1}'\n",
    "WHERE id IN ({\",\".join(map(str, changed_ids))})\n",
    "ORDER BY id;\n",
    "\"\"\"\n",
    "release_1_diff = con.execute(query).fetchdf()\n",
    "release_1_diff.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "c496d4c1a2c09831",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:30.709398Z",
     "start_time": "2025-11-12T11:54:29.310828Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>geometry</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>20711907</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>20712057</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 4, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>39748960</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>52715334</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>58567004</td>\n",
       "      <td>[1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         id                                           geometry\n",
       "0  20711907  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...\n",
       "1  20712057  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 4, ...\n",
       "2  39748960  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...\n",
       "3  52715334  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ...\n",
       "4  58567004  [1, 6, 0, 0, 0, 1, 0, 0, 0, 1, 3, 0, 0, 0, 1, ..."
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "query = f\"\"\"\n",
    "SELECT\n",
    "    id, ST_AsWKB(geometry) AS geometry\n",
    "FROM '{release_2}'\n",
    "WHERE id IN ({\",\".join(map(str, changed_ids))})\n",
    "ORDER BY id;\n",
    "\"\"\"\n",
    "release_2_diff = con.execute(query).fetchdf()\n",
    "release_2_diff.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "f16a421b46c16402",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:31.001423Z",
     "start_time": "2025-11-12T11:54:30.985209Z"
    }
   },
   "outputs": [],
   "source": [
    "release_1_diff[\"geometry\"] = release_1_diff[\"geometry\"].apply(\n",
    "    lambda g: bytes(g) if isinstance(g, (memoryview, bytearray)) else g)\n",
    "release_2_diff[\"geometry\"] = release_2_diff[\"geometry\"].apply(\n",
    "    lambda g: bytes(g) if isinstance(g, (memoryview, bytearray)) else g)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "a6dde5557fab222d",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:31.385478Z",
     "start_time": "2025-11-12T11:54:31.372880Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>geometry</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>20711907</td>\n",
       "      <td>b\"\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>20712057</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>39748960</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>52715334</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>58567004</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         id                                           geometry\n",
       "0  20711907  b\"\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "1  20712057  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "2  39748960  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "3  52715334  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "4  58567004  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03..."
      ]
     },
     "execution_count": 13,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "release_1_diff.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "id": "94d6d2bd67208da5",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:31.876074Z",
     "start_time": "2025-11-12T11:54:31.847939Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>geometry</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>20711907</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>20712057</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>39748960</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>52715334</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>58567004</td>\n",
       "      <td>b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         id                                           geometry\n",
       "0  20711907  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "1  20712057  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "2  39748960  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "3  52715334  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03...\n",
       "4  58567004  b'\\x01\\x06\\x00\\x00\\x00\\x01\\x00\\x00\\x00\\x01\\x03..."
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "release_2_diff.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "id": "f2106784ca05750c",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:32.327366Z",
     "start_time": "2025-11-12T11:54:32.312619Z"
    }
   },
   "outputs": [],
   "source": [
    "release_1_diff[\"geometry\"] = release_1_diff[\"geometry\"].apply(from_wkb)\n",
    "release_2_diff[\"geometry\"] = release_2_diff[\"geometry\"].apply(from_wkb)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "id": "b4d65fc7962a1a9e",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:32.768274Z",
     "start_time": "2025-11-12T11:54:32.736069Z"
    }
   },
   "outputs": [],
   "source": [
    "release_1_gdf = gpd.GeoDataFrame(release_1_diff, geometry=release_1_diff[\"geometry\"], crs=\"EPSG:4326\")\n",
    "release_2_gdf = gpd.GeoDataFrame(release_2_diff, geometry=release_2_diff[\"geometry\"], crs=\"EPSG:4326\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "id": "f567be92ffb4062f",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:33.112487Z",
     "start_time": "2025-11-12T11:54:33.081627Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>geometry</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>20711907</td>\n",
       "      <td>MULTIPOLYGON (((10.27004 59.56295, 10.2701 59....</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>20712057</td>\n",
       "      <td>MULTIPOLYGON (((9.59243 59.19178, 9.59252 59.1...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>39748960</td>\n",
       "      <td>MULTIPOLYGON (((10.69602 59.45891, 10.69622 59...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>52715334</td>\n",
       "      <td>MULTIPOLYGON (((9.6007 59.19671, 9.60074 59.19...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>58567004</td>\n",
       "      <td>MULTIPOLYGON (((10.68892 59.4641, 10.68899 59....</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         id                                           geometry\n",
       "0  20711907  MULTIPOLYGON (((10.27004 59.56295, 10.2701 59....\n",
       "1  20712057  MULTIPOLYGON (((9.59243 59.19178, 9.59252 59.1...\n",
       "2  39748960  MULTIPOLYGON (((10.69602 59.45891, 10.69622 59...\n",
       "3  52715334  MULTIPOLYGON (((9.6007 59.19671, 9.60074 59.19...\n",
       "4  58567004  MULTIPOLYGON (((10.68892 59.4641, 10.68899 59...."
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "release_1_gdf.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "id": "2f942d27108ba163",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:33.824518Z",
     "start_time": "2025-11-12T11:54:33.777271Z"
    }
   },
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>geometry</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>20711907</td>\n",
       "      <td>MULTIPOLYGON (((10.26999 59.56277, 10.27009 59...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>20712057</td>\n",
       "      <td>MULTIPOLYGON (((9.59243 59.19178, 9.59252 59.1...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>39748960</td>\n",
       "      <td>MULTIPOLYGON (((10.69602 59.45891, 10.69622 59...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>52715334</td>\n",
       "      <td>MULTIPOLYGON (((9.6007 59.19671, 9.60074 59.19...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>58567004</td>\n",
       "      <td>MULTIPOLYGON (((10.6889 59.4641, 10.68914 59.4...</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         id                                           geometry\n",
       "0  20711907  MULTIPOLYGON (((10.26999 59.56277, 10.27009 59...\n",
       "1  20712057  MULTIPOLYGON (((9.59243 59.19178, 9.59252 59.1...\n",
       "2  39748960  MULTIPOLYGON (((10.69602 59.45891, 10.69622 59...\n",
       "3  52715334  MULTIPOLYGON (((9.6007 59.19671, 9.60074 59.19...\n",
       "4  58567004  MULTIPOLYGON (((10.6889 59.4641, 10.68914 59.4..."
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "release_2_gdf.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "id": "42b1f02c38809c53",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-12T11:54:34.247503Z",
     "start_time": "2025-11-12T11:54:34.243443Z"
    }
   },
   "outputs": [],
   "source": [
    "# release_1_gdf.to_parquet(\"release_1.parquet\", schema_version=\"1.1.0\")\n",
    "# release_2_gdf.to_parquet(\"release_2.parquet\", schema_version=\"1.1.0\")"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}